

<main>
    <section id="img-about">
        <div class="image-fronter">
            <div class="content-img">
                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/08/about-header.jpg"
                     alt="" />
            </div>
            <div class="container">
                <div class="context-text">
                    <h1>About for Bacola</h1>
                    <h4>WE CAN DO MORE FOR YOU</h4>
                </div>
            </div>
        </div>
    </section>
    <section id="ceo-info">
        <div class="container">
            <div class="about-middle">
                <div class="top-text">
                    <p>
                        In nec purus eget neque accumsan finibus. Duis condimentum elit
                        ut libero commodo iaculis. Donec augue diam, tristique et
                        ultricies nec, consectetur quis enim. Nullam id rutrum ex.
                        Aliquam a lectus id lacus rhoncus dapibus non ac justo. Vivamus
                        lacinia vestibulum metus in dapibus. Vestibulum sit amet
                        sollicitudin enim. Ut id interdum turpis. Curabitur porta auctor
                        quam, pretium facilisis nisl. Pellentesque efficitur elit ante,
                        vel vulputate tortor blandit nec.
                    </p>
                </div>
                <div class="bottom-text">
                    <h1>
                        Quisque erat urna, congue et libero in eleifend euismod velit.
                    </h1>
                    <p>
                        In nec purus eget neque accumsan finibus. Duis condimentum elit
                        ut libero commodo iaculis. Donec augue diam, tristique et
                        ultricies nec, consectetur quis enim. Nullam id rutrum ex.
                        Aliquam a lectus id lacus rhoncus dapibus non ac justo. Vivamus
                        lacinia vestibulum metus in dapibus. Vestibulum sit amet
                        sollicitudin enim. Ut id interdum turpis. Curabitur porta auctor
                        quam, pretium facilisis nisl. Pellentesque efficitur elit ante,
                        vel vulputate tortor blandit nec.
                    </p>
                </div>
            </div>
            <div class="about-bottom">
                <div class="bottom-top">
                    <div class="row">
                        <div class="left-column col-12 col-lg-6">
                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/08/about-people.jpg"
                                 alt="" />
                        </div>
                        <div class="right-column col-12 col-lg-6">
                            <h5>Rachel Leonard - Bacola CEO</h5>
                            <h1>
                                Duis convallis luctus pretium. Pellentesque habitant morbi
                            </h1>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
                                maecenas accumsan lacus vel facilisis. In fermentum mi ut
                                sapien semper, a sagittis lorem vulputate. Integer gravida,
                                dui eget aliquet tempus, turpis orci vehicula ipsum, eget
                                porttitor sapien tortor at neque. Cras id pulvinar lacus, ac
                                volutpat neque. Ut at magna id justo bibendum lobortis.
                                Integer tortor nulla, ultricies et nisi sit amet, interdum
                                dictum felis. In semper laoreet dui vitae pharetra. Etiam sit
                                amet molestie nulla, eu efficitur orci. Praesent rutrum ante
                                justo, eget malesuada ante ornare ac. Ut dignissim blandit
                                urna, eget euismod leo rhoncus nec. Vestibulum ante ipsum
                                primis in faucibus orci luctus et ultrices posuere cubilia
                                curae; Quisque lobortis libero ante. Nullam in feugiat erat.
                                Aenean sed justo dapibus, sodales nisi ut, fringilla lorem.
                                Vestibulum in orci ac nisl condimentum fermentum at et sem.
                                Curabitur fermentum dolor eu lacus consectetur varius.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="bottom-bottom">
                    <div class="box-content">
                        <p>
                            In nec purus eget neque accumsan finibus. Duis condimentum elit
                            ut libero commodo iaculis. Donec augue diam, tristique et
                            ultricies nec, consectetur quis enim. Nullam id rutrum ex.
                            Aliquam a lectus id lacus rhoncus dapibus non ac justo. Vivamus
                            lacinia vestibulum metus in dapibus. Vestibulum sit amet
                            sollicitudin enim. Ut id interdum turpis. Curabitur porta auctor
                            quam, pretium facilisis nisl. Pellentesque efficitur elit ante,
                            vel vulputate tortor blandit nec.
                        </p>
                    </div>
                </div>
                <p>
                    In nec purus eget neque accumsan finibus. Duis condimentum elit ut
                    libero commodo iaculis. Donec augue diam, tristique et ultricies
                    nec, consectetur quis enim. Nullam id rutrum ex. Aliquam a lectus
                    id lacus rhoncus dapibus non ac justo. Vivamus lacinia vestibulum
                    metus in dapibus. Vestibulum sit amet sollicitudin enim. Ut id
                    interdum turpis. Curabitur porta auctor quam, pretium facilisis
                    nisl. Pellentesque efficitur elit ante, vel vulputate tortor
                    blandit nec.
                </p>
            </div>
        </div>
    </section>
</main>