
<main>
    <section id="log-reg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="error-message d-none">
                        <p>
                            <b>Error:</b>Please try again <a href="#">Lost your password?</a>
                        </p>
                    </div>
                </div>
                <form action="#">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="head-form">
                                <h6>LOGIN</h6>
                            </div>
                            <div class="username">
                                <label for="#">Username or emil address *</label>
                                <input type="text" />
                            </div>
                            <div class="password">
                                <label for="#">Password *</label>
                                <input type="password" />
                            </div>
                            <div class="remember-me">
                                <input type="checkbox" />
                                <label for="#">Remember me</label>
                            </div>
                            <div class="login">
                                <input type="submit" value="Log in" />
                                <a href="#">Lost your password?</a>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="head-form">
                                <h6>Register</h6>
                            </div>
                            <div class="username">
                                <label for="#">Email address *</label>
                                <input type="email" />
                            </div>
                            <div class="password">
                                <label for="#">Password *</label>
                                <input type="password" />
                            </div>
                            <div class="privacy">
                                <p>
                                    Your personal data will be used to support your experience
                                    throughout this website, to manage access to your account,
                                    and for other purposes described in our
                                    <a href="#">privacy policy.</a>
                                </p>
                            </div>
                            <div class="login">
                                <input type="submit" value="Register" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
</main>