
<main>
    <section id="blog-page">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-12">
                    <div class="content-pages">
                        <ul class="content" id="1">
                            <div class="blog-elements">
                                <div class="blog-img">
                                    <a href="#">
                                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-3.jpg"
                                             alt="" />
                                    </a>
                                </div>
                                <div class="blog-info">
                                    <span><i class="fal fa-clock"></i>May 3, 2021</span>
                                    <span><i class="fal fa-bookmark"></i>Tips & Tricks</span>
                                    <span>
                                        <i class="fal fa-capsules"></i>food, store, theme
                                        forest
                                    </span>
                                </div>
                                <div class="blog-content">
                                    <h1>
                                        But I must explain to you how all this mistaken idea
                                    </h1>
                                    <p>
                                        Pellentesque feugiat, sem id interdum molestie, libero
                                        nibh imperdiet velit, sodales elementum enim sem sed
                                        lectus. Vivamus viverra diam congue tristique
                                        pellentesque. Proin efficitur est vel lectus ultrices
                                        rhoncus eu ut lacus. In gravida leo at justo lobortis,
                                        vitae aliquet justo vehicula. Maecenas at facilisis ex.
                                        Curabitur cursus, ex id efficitur ultrices, sapien
                                        mauris sodales
                                    </p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                            <div class="blog-elements">
                                <div class="blog-img">
                                    <a href="#">
                                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-5.jpg"
                                             alt="" />
                                    </a>
                                </div>
                                <div class="blog-info">
                                    <span><i class="fal fa-clock"></i>May 3, 2021</span>
                                    <span><i class="fal fa-bookmark"></i>Tips & Tricks</span>
                                    <span>
                                        <i class="fal fa-capsules"></i>food, store, theme
                                        forest
                                    </span>
                                </div>
                                <div class="blog-content">
                                    <h1>
                                        But I must explain to you how all this mistaken idea
                                    </h1>
                                    <p>
                                        Pellentesque feugiat, sem id interdum molestie, libero
                                        nibh imperdiet velit, sodales elementum enim sem sed
                                        lectus. Vivamus viverra diam congue tristique
                                        pellentesque. Proin efficitur est vel lectus ultrices
                                        rhoncus eu ut lacus. In gravida leo at justo lobortis,
                                        vitae aliquet justo vehicula. Maecenas at facilisis ex.
                                        Curabitur cursus, ex id efficitur ultrices, sapien
                                        mauris sodales
                                    </p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                            <div class="blog-elements">
                                <div class="blog-img">
                                    <a href="#">
                                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-1.jpg"
                                             alt="" />
                                    </a>
                                </div>
                                <div class="blog-info">
                                    <span><i class="fal fa-clock"></i>May 3, 2021</span>
                                    <span><i class="fal fa-bookmark"></i>Tips & Tricks</span>
                                    <span>
                                        <i class="fal fa-capsules"></i>food, store, theme
                                        forest
                                    </span>
                                </div>
                                <div class="blog-content">
                                    <h1>The Problem With Typefaces on the Web</h1>
                                    <p>
                                        Pellentesque feugiat, sem id interdum molestie, libero
                                        nibh imperdiet velit, sodales elementum enim sem sed
                                        lectus. Vivamus viverra diam congue tristique
                                        pellentesque. Proin efficitur est vel lectus ultrices
                                        rhoncus eu ut lacus. In gravida leo at justo lobortis,
                                        vitae aliquet justo vehicula. Maecenas at facilisis ex.
                                        Curabitur cursus, ex id efficitur ultrices, sapien
                                        mauris sodales
                                    </p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </ul>
                        <ul class="content inactive" id="2">
                            <div class="blog-elements">
                                <div class="blog-img">
                                    <a href="#">
                                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-4.jpg"
                                             alt="" />
                                    </a>
                                </div>
                                <div class="blog-info">
                                    <span><i class="fal fa-clock"></i>May 3, 2021</span>
                                    <span><i class="fal fa-bookmark"></i>Tips & Tricks</span>
                                    <span>
                                        <i class="fal fa-capsules"></i>food, store, theme
                                        forest
                                    </span>
                                </div>
                                <div class="blog-content">
                                    <h1>
                                        On the other hand we provide denounce with righteous
                                    </h1>
                                    <p>
                                        Pellentesque feugiat, sem id interdum molestie, libero
                                        nibh imperdiet velit, sodales elementum enim sem sed
                                        lectus. Vivamus viverra diam congue tristique
                                        pellentesque. Proin efficitur est vel lectus ultrices
                                        rhoncus eu ut lacus. In gravida leo at justo lobortis,
                                        vitae aliquet justo vehicula. Maecenas at facilisis ex.
                                        Curabitur cursus, ex id efficitur ultrices, sapien
                                        mauris sodales
                                    </p>
                                    <a href="#">Read More</a>
                                </div>
                            </div>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="pagination-numbers">
                            <ul>
                                <li><span id="1">1</span></li>
                                <li><span id="2">2</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-12">
                    <div class="row">
                        <div class="search-button">
                            <form action="#">
                                <input type="text" value="   Search..." /><i class="fal fa-search"></i>
                            </form>
                        </div>
                        <div class="popular-posts">
                            <h4>POPULAR POSTS</h4>
                        </div>
                        <div class="post-contents">
                            <div class="contents row">
                                <div class="left-content">
                                    <a href="#">
                                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-3-100x100.jpg"
                                             alt="" />
                                    </a>
                                </div>
                                <div class="right-content">
                                    <a href="#">
                                        <span>
                                            But I must explain to you how all this mistaken
                                            idea
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <div class="contents row">
                                <div class="left-content">
                                    <a href="#">
                                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-5-100x100.jpg"
                                             alt="" />
                                    </a>
                                </div>
                                <div class="right-content">
                                    <a href="#"><span>The Problem With Typefaces on the Web</span></a>
                                </div>
                            </div>
                            <div class="contents row">
                                <div class="left-content">
                                    <a href="#">
                                        <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/blog-1-100x100.jpg"
                                             alt="" />
                                    </a>
                                </div>
                                <div class="right-content">
                                    <a href="#">
                                        <span>English Breakfast Tea With Tasty Donut Desserts</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="social-media">
                            <h5>SOCIAL MEDIA</h5>
                            <div class="facebook">
                                <a href="#"><i class="fab fa-facebook-f"></i><span>FACEBOOK</span></a>
                            </div>
                            <div class="twitter">
                                <a href="#"><i class="fab fa-twitter"></i><span>TWITTER</span></a>
                            </div>
                            <div class="pinterest">
                                <a href="#"><i class="fab fa-pinterest-p"></i><span>PINTEREST</span></a>
                            </div>
                            <div class="linkedin">
                                <a href="#"><i class="fab fa-linkedin-in"></i><span>LINKEDIN</span></a>
                            </div>
                            <div class="reddit">
                                <a href="#"><i class="fab fa-reddit-alien"></i><span>REDDIT</span></a>
                            </div>
                        </div>
                        <div class="widget-banner">
                            <h5>Widget Banner</h5>
                            <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/05/sidebar-banner.gif"
                                 class="image wp-image-1184  attachment-full size-full"
                                 alt="" loading="lazy" style="max-width: 100%; height: auto;"
                                 width="1280" height="1750">
                        </div>
                        <div class="tags">
                            <h5>TAGS</h5>
                            <div class="boxes-tag">
                                <div class="tag-box">envato</div>
                                <div class="tag-box">food</div>
                                <div class="tag-box">fresh</div>
                                <div class="tag-box">grocery</div>
                                <div class="tag-box">organic</div>
                                <div class="tag-box">quality</div>
                                <div class="tag-box">store</div>
                                <div class="tag-box">themeforest</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>