
<main>
    <section id="contact">
        <div class="container">
            <div class="header-contact">
                <h1>Get In Touch</h1>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Expedita
                    quaerat unde quam dolor culpa veritatis inventore, aut commodi eum
                    veniam vel.
                </p>
            </div>
            <div class="contact-info">
                <div class="row">
                    <div class="location">
                        <i class="fal fa-map-marker-alt fa-3x"></i>
                        <h5>102 Street 2714 Donovan</h5>
                        <p>Lorem ipsum dolar site amet discont</p>
                    </div>
                    <div class="contact-number">
                        <i class="fal fa-phone fa-3x"></i>
                        <h5>+02 1234 567 88</h5>
                        <p>Lorem ipsum dolar site amet discont</p>
                    </div>
                    <div class="contact-mail">
                        <i class="fal fa-envelope fa-3x"></i>
                        <h5>info@example.com</h5>
                        <p>Lorem ipsum dolar site amet discont</p>
                    </div>
                </div>
            </div>
            <div class="send-us-box">
                <div class="send-us">
                    <div class="send-header">
                        <h1>Send Us</h1>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                            Expedita quaerat unde quam dolor culpa veritatis inventore,
                            aut commodi eum veniam vel.
                        </p>
                    </div>
                    <form action="#">
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <label for="#">Your name*</label>
                                <input type="text" />
                            </div>
                            <div class="col-12 col-lg-6">
                                <label for="#">Your email*</label>
                                <input type="text" />
                            </div>
                            <div class="col-12">
                                <label for="#">Subject*</label>
                                <input type="text" />
                            </div>
                            <div class="col-12">
                                <label for="#">Your message</label>
                                <textarea name="message" id="message" rows="5"></textarea>
                            </div>
                            <div class="col-12">
                                <input type="submit" value="Send a message" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>