
<main>
    <section id="cart-product">
        <div class="container">
            <div class="row">
                <div class="cart-products col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <table>
                        <tr class="head-indicator">
                            <th class="image-indicator">
                            </th>
                            <th class="name-indicator">
                                <span>Product</span>
                            </th>
                            <th class="price-indicator">
                                <span>Price</span>
                            </th>
                            <th class="quantity-indicator">
                                <span>Quantity</span>
                            </th>
                            <th class="subtotal-indicator">
                                <span>Subtotal</span>
                            </th>
                        </tr>
                        <tr class="product-added">
                            <td class="product-image">
                                <img src="https://klbtheme.com/bacola/wp-content/uploads/2021/04/product-image-62-90x90.jpg" alt="">
                            </td>
                            <td class="product-name">
                                <span>All Natural Italian-Style Chicken Meatballs</span>
                            </td>
                            <td class="product-price">
                                $
                                <span>7.25</span>
                            </td>
                            <td class="product-quantity">
                                <i class="fal fa-minus"></i>
                                <span>1</span>
                                <i class="fal fa-plus"></i>
                            </td>
                            <td class="product-subtotal">
                                $
                                <span>7.25</span>
                            </td>
                            <td class="product-delete">
                                <i class="fal fa-times"></i>
                            </td>
                        </tr>
                    </table>
                    <div class="coupon-cart row">
                        <div class="coupon-apply col-xs-12 col-sm-12 col-md-12 col-lg-9">
                            <form action="#">
                                <input type="text" placeholder="Coupon code">
                                <input type="submit" value="Apply Coupon">
                            </form>
                        </div>
                        <div class="update-cart col-xs-12 col-sm-12 col-md-12 col-lg-3">
                            <a href="#">Update cart</a>
                        </div>
                    </div>
                </div>
                <div class="cart-totals col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="head-totals">
                        <h6>CART TOTALS</h6>
                    </div>
                    <div class="sub-total">
                        <span>Subtotal</span>
                        <span>$10.54</span>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <span>Shipping</span>
                        </div>
                        <div class="col-7">
                            <div class="shipping-rate">
                                <span>Flat rate: $5.00</span>
                                <input style="margin-left: 5px;" type="checkbox">
                            </div>
                            <div class="shipping-rate">
                                <span>Free shipping</span>
                                <input style="margin-left: 5px;" type="checkbox">
                            </div>
                            <div class="shipping-rate">
                                <span>Local pickup</span>
                                <input style="margin-left: 5px;" type="checkbox">
                            </div>
                            <div class="shipping-rate">
                                <span>Shipping to <b>AL.</b></span>
                            </div>
                            <div class="change-address">
                                <span>Change address</span>
                            </div>
                        </div>
                    </div>
                    <div class="total-amount">
                        <span>Total</span>
                        <span>$10.54</span>
                    </div>
                    <div class="checkout-button">
                        <a>Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>